<div class="message-view" 
  [ngClass]="{reverse: (userDataService.user$ | async)?.id !== data.fromUser?.id}"
  >
  <div class="message-header">
    <label class="user-name">{{data?.fromUser?.nickName}}</label>
  </div>
  <div class="message-content">
    <label class="message">{{data.text}}</label>
    <label class="date">{{data.createdAt | date: 'H:mm:ss'}}</label>
  </div>

  <!-- <ng-template #missing>
    <div class="message-loading" *ngIf="chatMessagesDataService.isLoading$ | async">
      <mat-spinner [diameter]="35" strokeWidth="2">
      </mat-spinner>
    </div>
  </ng-template> -->
</div>
